.App {
  display: flex;
  flex-direction: column;
  width: 100%
}

body {
  background-color: rgba(70, 110, 84, .5);
}

.site-overview {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(227, 235, 229, .7);
  border-radius: 10px;
  padding: .7rem;
}

.site-overview {
  margin: 2rem;
  border-radius: 10px;
  padding: .7rem;
  background-color: rgba(227, 235, 229, .7);
}

.title {
  margin-right: 3rem;
}

.background-photo {
  width: 100%;
  background: url(https://images.unsplash.com/photo-1600354279787-0a726615ef44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80);
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  background-position-y: -400px;/*leave pos-y and change pos-x on break points*/
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 50% 50%;
  /* object-fit: cover; */
}

.user-display-day-number {
  display: flex;
  justify-content: center;
}
